@use "../../styles/base/variables" as *;

.header {
  font-size: 2.5rem;
}

.description {
  border: 1px solid $color-text-secondary;
  border-radius: $radius;
  padding: 4rem 0;
  margin: 2rem;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10rem;
  }

  &__photo {
    border-radius: 3000px;
    height: 100px;
    margin-left: 3rem;
  }

  &__text {
    font-style: italic;
    padding-right: 5rem;
    line-height: 1.6;
  }
}
