.projects {
  &__header {
    text-align: center;
    margin-top: 50px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;
  }
}
